body {
  position: ;
  background-image: url("gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg"); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  margin: 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(
    135deg,
    rgba(58, 118, 249, 0.8),
    rgba(13, 178, 249, 0.8)
  );
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
#card h1 {
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#city-input {
  width: 80%;
  padding: 10px;
  padding-left: 30px;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: inline;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button img {
  width: 60%;
  height: 70%;
}

#weather-info {
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  display: none;
}
#temperature {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#city {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

#additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#humidity,
#windspeed {
  display: flex;
  align-items: center;
  margin-top: -6px;
  font-weight: bold;
}
#humidity img,
#windspeed img {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
}
#humiditypercentage {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

#windspeedpercentage {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

#icon {
  height: 224px;
  width: 224px;
  margin: 0px;
}

p {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin: 0px;
  margin-left: 2px;
}
h3 {
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
}
